<script lang="js">
	import Header from '../components/Header';
	import Footer from '../components/Footer';

	export let segment;

	const noMenuSegments = ['signup', 'signin'];

	$: noMenu = noMenuSegments.includes(segment);
	$: noAcc = segment === 'signin';
</script>
<style lang="stylus" global>
	@import '../helpers/fonts.styl';
	@import '../helpers';

	html
	body
	#sapper
		height: 100%

	main
		font-family Inter
		color $black
		font-size 13px
		line-height 24px
		position relative
		min-width $innerWidthMobile
		min-height: 100%
		display flex
		flex-direction: column

		+above(1024px)
			font-size 16px
			line-height 28px
			min-width $innerWidth

	.title
		font-family Acrom
		font-style normal
		font-weight bold
		letter-spacing -0.06em
		color $purple

		&_h1
			font-size 26px
			line-height 32px
			text-align center
			padding 0 32px

			+above(1024px)
				font-size 48px
				line-height 56px
				text-align left
				padding 0

		&_h3
			font-size 20px
			line-height 28px
			padding 0 32px

			+above(1024px)
				font-size 36px
				line-height 48px
				padding 0

	.text
		text-align center
		padding 0 32px

		+above(1024px)
			text-align: left
			padding 0

	.mobile
		+above(1024px)
			display none

	.desktop
		+below(1023px)
			display none

	input
	textarea
		&::-webkit-input-placeholder
			opacity .5
		&::-moz-placeholder
			opacity .5
		&:-ms-input-placeholder
			opacity .5
		&:-moz-placeholder
			opacity .5
		&::placeholder
			opacity .5

</style>

<main>
	<Header {segment} {noMenu} {noAcc}/>
	<slot {segment}/>
	<Footer {noMenu}/>
</main>
