<script>
  import { goto } from '@sapper/app';
  import Field from '../components/Field';
  import Signup from '../components/Signup';
  import Statistics from '../components/Statistics';
  import Button from '../components/Button';
  import Prices from '../components/Prices';
  import {navigation} from '../store';
  import Preview from "../components/Preview.svelte";

  const unsubscribe = navigation.subscribe(nav => {
    if (!nav) {
      return;
    }

    const elem = document.getElementById(nav);
    window.scrollBy({
      left: 0,
      top: elem.getBoundingClientRect().top + window.scrollY,
      behavior: 'smooth',
    });
    navigation.update(() => null);
  });

  function onSignup(email) {
    if (email && email !== '' && email.includes('@')) {
      goto('./signup');
    }
  }
</script>

<svelte:head>
  <title>Localby</title>
</svelte:head>

<section class="section">
  <div class="join">
    <div class="join__inner">
      <h3 class="title title_h1">Больше <br class="mobile">хороших отзывов —<br>больше клиентов.</h3>
      <p class="text">
        Получайте готовых к покупке клиентов
        <br>с помощью отличного рейтинга и отзывов Яндекс, Google и 2GIS.
        <br><span class="desktop">Стройте бизнес с репутацией 5 звёзд!</span>
      </p>
      <form class="join__form" action="./">
        <Field
          on:submit={(e) => onSignup(e.detail)}
          _class="brd-yellow header-join"
          name="email"
          placeholder="Электронная почта ..."
          submit="Начать →"
        />
      </form>
    </div>
  </div>

  <Signup/>

  <Statistics/>

  <div class="preview-rail">
    <div class="troubles" id="troubles">
      <div class="troubles__inner">
        <h3 class="title title_h3">Локалби поможет решить<br>проблемы с отзывами</h3>
        <div class="troubles__wrap">
          <div class="troubles__item">
            <h3 class="troubles__title">
              <img src="./assets/icons/emoji-silent.png" alt="">
              <span>Безразличие</span>
            </h3>
            <p class="troubles__text">Довольные клиенты забывают или ленятся оставлять отзывы. Или их&nbsp;никто не&nbsp;просит.</p>
            <p class="troubles__text">Localby решает проблему. Клиенты легко оставляют отзывы там, где это удобно им&nbsp;и&nbsp;необходимо вам.</p>
          </div>
          <div class="troubles__item">
            <h3 class="troubles__title">
              <img src="./assets/icons/emoji-evil.png" alt="">
              <span>Негатив</span>
            </h3>
            <p class="troubles__text">Люди не&nbsp;хотят оставлять плохие отзывы. Они хотят, чтобы их&nbsp;проблему решили.</p>
            <p class="troubles__text">Узнавайте о&nbsp;проблемах моментально, связывайтесь с&nbsp;клиентом, исправляйте ситуацию.</p>
          </div>
          <div class="troubles__item">
            <h3 class="troubles__title">
              <img src="./assets/icons/emoji-ghost.png" alt="">
              <span class="mobile">Поддельные отзывы</span>
              <span class="desktop">Подделки</span>
            </h3>
            <p class="troubles__text">Больше не&nbsp;бойтесь потерять поддельные отзывы, написанные ботами за&nbsp;деньги.</p>
            <p class="troubles__text">Только реальные отзывы от&nbsp;реальных клиентов. Много настоящих отзывов.</p>
          </div>
          <div class="troubles__item">
            <h3 class="troubles__title">
              <img src="./assets/icons/emoji-cry.png" alt="">
              <span class="mobile">Рутинная работа</span>
              <span class="desktop">Рутина</span>
            </h3>
            <p class="troubles__text">Автоматические письма, полная статистика и&nbsp;офлайн-информер в&nbsp;подарок при годовой подписке.</p>
            <p class="troubles__text">Забудьте про рутинные действия&nbsp;&mdash; теперь у&nbsp;вас есть помощь и&nbsp;поддержка Локалби.</p>
          </div>
        </div>
        <Button type="purple" _class="w240" href="./signup">Хочу решить проблемы</Button>
      </div>

    </div>

    <Preview/>

    <div class="steps" id="howto">
      <div class="steps__inner">
        <h3 class="title title_h3 desktop">Как это работает?</h3>
        <div class="steps__wrap">
          <div class="steps__item">
            <p>
              Ваш клиент переходит на страницу оценки по короткой ссылке в SMS или электронном письме, отправленном с помощью Локалби, или по QR-коду или NFС-метке
              на офлайн-информере в точке продаж.
            </p>
          </div>
          <div class="steps__item">
            <p>
              При положительной NPS-оценке клиент получает призыв написать отзыв на удобной для него площадке в один клик. Локалби поддерживает Яндекс, Google, 2GIS.
            </p>
          </div>
          <div class="steps__item">
            <p>
              При отрицательной оценке клиент может написать комментарий и оставить свой контакт. Уведомление о комментарии мгновенно придёт вам на электронную почту.
            </p>
          </div>
          <div class="steps__item">
            <p>
              В личном кабинете Локалби вы сможете прочесть комментарий и принять меры, пока клиент не решил написать негативный отзыв на внешних площадках.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section>

  <div class="demo" id="demo">
    <div class="demo__inner">
      <div class="demo__wrap">
        <img alt="" src="./assets/images/qr-code.svg" class="demo__qr"/>
        <div class="demo__text">
          <span class="desktop">Отсканируйте <span class="demo__link">QR-код,</span></span>
          <span class="mobile">Откройте <a href="./" class="demo__link">ссылку</a></span><br>
          чтобы увидеть демо-версию <br>
          оценки Локалби
        </div>
      </div>
    </div>
  </div>

  <div class="categories">
    <div class="categories__inner">
      <div class="categories__wrap">
        <h3 class="title title_h3 desktop">Локалби поможет решить<br>проблемы с отзывами</h3>
        <p class="categories__text desktop">
          Управление отзывами и их постоянный прирост нужен любому бизнесу, который продает товары или оказывает услуги в оффлайн. Ниже — категории бизнеса, которым работа с рейтингами и отзывами нужна в первую очередь.
        </p>
        <div class="categories__list">
          <div class="categories__col">
            Кофейни и рестораны<br>
            Отели<br>
            Медицинские центры<br>
            Магазины одежды<br>
            Продуктовые магазины<br>
            Автосервисы<br>
            Салоны красоты<br>
            Стоматологии
          </div>
          <div class="categories__col">
            Бары и тайм-кафе<br>
            Автодилеры<br>
            Ветеринарные клиники<br>
            Страховые компании<br>
            Фитнес-центры<br>
            Местные магазины<br>
            SPA-салоны<br>
            Адвокатские бюро
          </div>
          <div class="categories__col">
            Косметологии<br>
            Бухгалтерские услуги<br>
            Детские учреждения<br>
            Барбершопы<br>
            Фитнес-центры<br>
            Банковские отделения<br>
            Салоны связи<br>
            Образовательные центры
          </div>
        </div>
        <p class="categories__text desktop">
          Нашли себя в этом списке или думаете, что Локалби может быть полезен и для вас? <br>Оставьте заявку на подключение к сервису.
        </p>

        <p class="categories__text mobile">
          Управление отзывами и их постоянный прирост нужен любому бизнесу, который продает товары или оказывает услуги в оффлайн.
        </p>
        <p class="categories__text mobile">
          Думаете, что Локалби может быть полезен и для вас? <br>Оставьте заявку на подключение к сервису.
        </p>
        <form class="categories__form" action="./">
          <Field
            on:submit={(e) => onSignup(e.detail)}
            _class="brd-yellow categories-join"
            name="email"
            placeholder="Электронная почта ..."
            submit="Начать →"
          />
        </form>
      </div>
    </div>
  </div>
  <div class="features">
    <div class="features__inner">
      <div class="features__scroll">
        <div class="features__wrap">
          <div class="features__item">
            <div class="features__title">Простота использования</div>
            <p class="features__text">
              Клиентам не&nbsp;нужно ничего скачивать или регистрироваться.
            </p>
            <p class="features__text">
              Просто отправляйте им&nbsp;ссылки по&nbsp;SMS и&nbsp;дайте возможность отсканировать QR-код или NFC-метку.
            </p>
          </div>

          <div class="features__item">
            <div class="features__title">Необходимые информеры</div>
            <p class="features__text">
              Выбирайте, скачивайте и&nbsp;распечатывайте удобный формат: тейблтенты, наклейки, визитки и&nbsp;пр.
            </p>
            <p class="features__text">
              А&nbsp;при подписке на&nbsp;год мы&nbsp;бесплатно пришлем две стойки с&nbsp;NFC-метками.
            </p>
          </div>

          <div class="features__item">
            <div class="features__title">Подробная аналитика</div>
            <p class="features__text">
              Отслеживайте NPS, динамику роста рейтинга и&nbsp;отзывов, историю проблем в&nbsp;личном кабинете.
            </p>
            <p class="features__text">
              Становитесь лучше. Будьте на&nbsp;голову выше конкурентов!
            </p>
          </div>

          <div class="features__item">
            <div class="features__title">Смена площадок в два клика</div>
            <p class="features__text">
              В&nbsp;этом месяце вам нужно набрать больше отзывов на&nbsp;Яндекс.Картах, а&nbsp;в&nbsp;следующем&nbsp;&mdash; на&nbsp;2GIS?
            </p>
            <p class="features__text">
              Настраивайте страницу отзывов на&nbsp;те&nbsp;площадки, которые вам нужны.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="prices" id="prices">
    <div class="prices__inner">
      <h3 class="title title_h3">Хорошая репутация <br class="mobile">может быть доступной</h3>
      <Prices/>
    </div>
  </div>

  <div class="support">
    <div class="support__inner">
      <div class="support__wrap">
        <div class="title title_h3">Нужна поддержка <br class="mobile">или консультация?</div>
        <div class="support__text">
          Оставьте ваши контактные данные, и мы свяжемся с вами в самое ближайшее время.
          <p class="desktop">
            Также вы можете получить онлайн-поддержку в чате.
          </p>
        </div>
        <form class="support__form">
          <div class="support__field">
            <Field _class="brd-grey small" name="name" placeholder="Как к вам обращаться?"/>
          </div>
          <div class="support__field desktop">
            <Field _class="brd-grey small" name="company" placeholder="Ваша компания ..."/>
          </div>
          <div class="support__field">
            <Field _class="brd-grey small" name="phone" placeholder="Номер телефона ..."/>
          </div>
          <div class="support__field">
            <Field _class="brd-grey small" name="email" placeholder="Электронная почта ..."/>
          </div>
          <div class="support__footer">
            <div class="support__submit">
              <Button type="yellow small" href="./">Свяжитесь со мной</Button>
            </div>
            <div class="support__notice">
              Отправляя заявку вы принимаете<br>
              <a href="./">Соглашение об обработке персональных данных</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<style lang="stylus">
  @import '../helpers'

  .section
    position: relative

    +above(1024px)
      &:before
        content ''
        position: absolute
        top: -208px
        right: 0
        bottom: 0
        left: 68.75%
        background: $purple
        z-index 1

  .join
    display flex
    justify-content: center

    &__inner
      flex 1 0 $innerWidthMobile

      +above(1024px)
        flex 0 0 $innerWidth
        max-width $innerWidth
        padding 0 64px

    &__form
      display flex
      justify-content: center
      margin-top 32px
      padding 32px 32px 31px
      border-bottom 1px solid rgba(255, 255, 255, 0.12)
      background $blue

      +above(1024px)
        display block
        width 432px
        margin 43.5px 0 63.5px
        border 0
        padding 0
        background none

    .title_h1
      margin 24px 0 16px

      +above(1024px)
        margin 41px 0 32px

  .troubles
    position: relative
    display flex
    justify-content: center
    flex-wrap wrap

    &__inner
      padding 0 32px
      flex 1 0 $innerWidthMobile

      +above(1024px)
        flex 0 0 $innerWidth
        max-width $innerWidth
        padding 0 64px 64px

    &__wrap
      padding 0 0 8px

      +above(1024px)
        width: 650px
        display: flex
        flex-wrap: wrap
        padding 0 0 56px

    &__item
      padding 24px 0
      border-top 1px solid rgba(56, 29, 75, 0.12)

      +above(1024px)
        flex 0 0 300px
        border: 0
        padding 0

      &:nth-child(1)
      &:nth-child(3)
        margin-right 0

        +above(1024px)
          margin-right 48px

      &:nth-child(3)
      &:nth-child(4)
        +above(1024px)
          padding-top 40px

    &__title
      position: relative
      font-family: Acrom
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 20px
      letter-spacing: -0.04em
      color: #381D4B
      display: flex
      align-items center
      height: 44px
      margin-bottom 12px

      +above(1024px)
        font-size: 24px
        line-height: 26px
        margin-bottom 28px

      img
        display: block
        width: 24px
        margin-right 16px

        +above(1024px)
          width: 32px

      span
        position: relative
        &:before
          content ''
          position absolute
          right 0
          bottom 0
          left 0
          height 8px
          background $yellow
          transition height .15s ease-out
          z-index: -1


    &__text
      font-family: Inter
      font-style: normal
      font-weight: normal
      font-size: 13px
      line-height: 24px
      color: $purple

      & + &
        margin-top 12px

      +above(1024px)
        font-size: 16px
        line-height: 28px

        & + &
          margin-top 14px

    .title
      padding 0
      margin 24px 0 32px

      +above(1024px)
        margin 48px 0 40px

  .preview-rail
    position: relative

  .steps
    background $yellow
    margin-top -185px
    padding-top 225px
    display flex
    justify-content: center

    +above(1024px)
      padding-bottom 64px

    .title_h3
      margin 48.5px 0 36px
      padding 0 24px

    +above(1024px)
      margin-top 0
      padding-top 0

    &__inner
      flex 1 0 $innerWidthMobile

      +above(1024px)
        flex 0 0 $innerWidth
        max-width $innerWidth
        padding 0 64px 0 40px

    &__wrap
      +above(1024px)
        width: 680px

    &__item
      position: relative
      font-family: Inter
      font-style: normal
      font-weight: normal
      font-size: 13px
      line-height: 24px
      color: $black
      padding 23px 64px

      +above(1024px)
        display: flex
        align-items center
        font-size: 16px
        line-height: 28px
        padding 0 24px
        height: 128px
        border-radius: 4px

      &:before
        content ''
        width 36px
        height: 36px
        color: rgba(0, 0, 0, 0.05)
        background-position: 0 0
        background-repeat no-repeat
        background-size contain
        opacity: 0.05
        position: absolute
        top: 30px
        left: 32px

        +above(1024px)
          position: static
          margin-right 30px
          height 70px
          flex 0 0 40px

      &:nth-child(1)
        background: rgba(56, 29, 75, 0.03)
        +above(1024px)
          background none
        &:before
          background-image url(./assets/icons/symbol-dinc-1.svg)
      &:nth-child(2)
        +above(1024px)
          background: rgba(56, 29, 75, 0.03)
        &:before
          background-image url(./assets/icons/symbol-dinc-2.svg)
      &:nth-child(3)
        background: rgba(56, 29, 75, 0.03)
        +above(1024px)
          background none
        &:before
          background-image url(./assets/icons/symbol-dinc-3.svg)
      &:nth-child(4)
        +above(1024px)
          background: rgba(56, 29, 75, 0.03)
        &:before
          background-image url(./assets/icons/symbol-dinc-4.svg)

  .demo
    display flex
    justify-content: center

    &__inner
      flex 1 0 $innerWidthMobile

      +above(1024px)
        flex 0 0 $innerWidth
        max-width $innerWidth
        padding 0 64px

    &__wrap
      display flex
      align-items center
      padding 24px 32px

      +above(1024px)
        padding 64px 0

    &__qr
      display: none
      width: 280px
      height: 280px
      margin-right 64px

      +above(1024px)
        display: block

    &__text
      font-family: Acrom
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 28px
      letter-spacing: -0.06em
      color: #000

      +above(1024px)
        font-size: 36px
        line-height: 48px

    &__link
      background $link
      color: #fff
      padding 0 5px


  .categories
    display flex
    justify-content: center
    background rgba(56, 29, 75, 0.04)

    &__inner
      padding 0 32px 32px
      flex 1 0 $innerWidthMobile

      +above(1024px)
        flex 0 0 $innerWidth
        max-width $innerWidth
        padding 0 64px 64px

    .title_h3
      margin 48px 0 32px

    &__wrap
      +above(1024px)
        width calc((100vw * .6875) - (100vw - 1152px) / 2)
        min-width: 774px

    &__text
      font-family: Inter
      font-style: normal
      font-weight: normal
      font-size: 13px
      line-height: 24px
      color: $black
      padding 24px 0

      &.mobile + &.mobile
        border-top 1px solid rgba(56, 29, 75, 0.12)

        +above(1024px)
          border: 0

      +above(1024px)
        font-size: 16px
        line-height: 28px
        padding 0

    &__list
      display: none
      border-top 1px solid rgba(56, 29, 75, 0.12)
      border-bottom 1px solid rgba(56, 29, 75, 0.12)
      padding 32px 0
      font-family: Inter
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 36px
      color $black
      margin 40px 0 56px

      +above(1024px)
        display: flex

    &__col
      flex 0 0 216px

      & + &
        margin-left 48px

    &__form
      +above(1024px)
        width: 576px
        margin-top 40px

  .features
    display flex
    justify-content: center
    background: #0991AF
    color: #fff

    &__inner
      flex 1 0 $innerWidthMobile
      max-width 100%

      +above(1024px)
        flex 0 0 $innerWidth
        max-width $innerWidth
        padding 0 64px

    &__scroll
      overflow-x scroll

      +above(1024px)
        overflow initial

    &__wrap
      display inline-flex
      vertical-align: top
      padding 32px 0

      +above(1024px)
        display flex
        padding 0

    &__item
      flex: 0 0 224px
      padding 0 32px

      +above(1024px)
        flex-basis 320px
        padding 56px 64px 64px

        &:first-child
        &:last-child
          flex-basis 256px

        &:first-child
          padding-left 0
        &:last-child
          padding-right 0

      & + &
        border-left 1px solid rgba(255, 255, 255, 0.1)


    &__title
      font-family: Acrom
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 24px
      letter-spacing: -0.06em
      margin-bottom 20px

      +above(1024px)
        font-size: 20px
        line-height: 28px
        margin-bottom 32px

    &__text
      font-family: Inter
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 20px

      +above(1024px)
        font-size: 13px
        line-height: 24px

      & + &
        margin-top 10px

        +above(1024px)
          margin-top 12px


  .prices
    display flex
    justify-content: center
    text-align center

    &__inner
      flex 1 0 $innerWidthMobile
      width: 100%

      +above(1024px)
        flex 0 0 $innerWidth
        max-width $innerWidth
        padding 0 64px

    .title_h3
      padding 0 32px
      margin 24px 0 16px

      +above(1024px)
        text-align center
        padding 0
        margin 48px 0 32px


  .support
    padding 0 32px
    display flex
    justify-content: center

    +above(1024px)
      padding 0 0 64px

    &__inner
      flex 1 0 $innerWidthMobile
      max-width: 100%

      +above(1024px)
        flex 0 0 $innerWidth
        max-width $innerWidth
        padding 0 64px

    .title_h3
      margin 0
      padding 24px 0 16px

      +above(1024px)
        padding 48px 0 32px

    &__wrap
      +above(1024px)
        margin-top 32px
        padding 0 64px 64px
        background url(./assets/images/img-girl.png) 100% 0 no-repeat
        border-radius 4px

    &__text
      font-family: Inter
      font-style: normal
      font-weight: normal
      font-size: 13px
      line-height: 24px
      color $black

      +above(1024px)
        font-size: 16px
        line-height: 28px

    &__form
      margin-top 24px
      padding-bottom 32px

      +above(1024px)
        width 650px
        display: flex
        flex-wrap wrap
        margin-top 40px
        padding-bottom 0

    &__field
      margin-bottom 16px

      +above(1024px)
        flex-basis 304px
        margin-right 16px

    &__footer
      +above(1024px)
        display: flex
        align-items center
        margin-top 30px

    &__submit
      +above(1024px)
        width: 200px
        margin-right 24px

    &__notice
      font-family: Inter
      font-style: normal
      font-weight: normal
      font-size: 11px
      line-height: 18px
      color: rgba(56, 29, 75, 0.3)
      margin-top 24px

      +above(1024px)
        margin-top 0
        font-size: 12px
        line-height: 20px

      a
        color: rgba(56, 29, 75, 0.6)

</style>
