<script>
  import Field from '../components/Field';
  import Button from '../components/Button';
</script>

<svelte:head>
  <title>Signup - Localby</title>
</svelte:head>

<section>
  <div class="signup">
    <div class="signup__inner">
      <h3 class="title title_h1">Вход для клиентов</h3>
      <p class="text mobile">
        Мы&nbsp;скучали по&nbsp;вам!<br> Авторизуйтесь в&nbsp;Локалби и&nbsp;получите новые отзывы от&nbsp;клиентов.
      </p>
      <form class="form" action="./">
        <div class="form__field">
          <Field _class="brd-yellow" name="email" placeholder="Адрес электронной почты ..."/>
        </div>
        <div class="form__field">
          <Field _class="brd-yellow" type="password" name="password" placeholder="Пароль ..."/>
        </div>
        <div class="form__footer">
          <div class="form__submit">
            <Button type="yellow big w240" href="./">Войти в Локалби →</Button>
          </div>
          <div class="form__notice">
            <span>Ещё не зарегистрированы?<br> <a href="./signup">Пора сделать это!</a></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>


<style lang="stylus">
  @import '../helpers'

  .signup
    display flex
    justify-content: center

    &__inner
      flex 1 0 $innerWidthMobile
      display flex
      flex-direction column

      +above(1024px)
        flex 0 0 $innerWidth
        max-width $innerWidth
        padding 0 64px

  .form
    max-width 576px
    padding 56px 32px 16px
    margin-top auto

    +above(1024px)
      padding 112px 0 104px
      max-width 472px

    &__field
      & + &
        margin-top 16px

    &__footer
      margin-top 16px

      +above(1024px)
        display: flex
        align-items center

    &__notice
      height: 64px
      text-align: center
      font-size: 11px
      line-height: 18px
      display: flex
      align-items: center
      justify-content: center
      color: rgba($purple, 0.5)
      margin-top 16px

      +above(1024px)
        height: auto
        margin 0 0 0 32px
        text-align left

      a
        color: $purple

    &__submit
      flex 0 0 240px

  .title_h1
    text-align left
    margin 24px 0 16px

    +above(1024px)
      margin 40px 0 0

  .text
    text-align left

</style>
