<script>
	export let data;
</script>
<style lang="stylus">
	@import '../helpers'

	.svg
		position: relative
		width: 100%
		height: 100%

	.arrow-from
	.arrow-to
		position: absolute
		display: inline-block
		padding 0 8px
		font-family: Acrom
		font-style: normal
		font-weight: 500
		font-size: 12px
		line-height: 24px
		color: #40BDD9
		height: 24px
		border-radius 12px
		background: #fff
		transform: translateX(-50%)

	.arrow-from
		bottom 256px
		left 53px
		animation fadeInFrom .2s ease-in

		+above(1024px)
			bottom 236px
			left 72px

	.arrow-to
		bottom 314px
		left 260px
		animation fadeInTo 4s ease-in

		+above(1024px)
			bottom 302px
			left 352px

	.arrow-left
		position: absolute
		left: 52px
		bottom: 92px

		+above(1024px)
			left: 72px
			bottom: 97px

	.arrow-right
		position: absolute
		left: 175px
		bottom: 85px

		+above(1024px)
			left: 236px
			bottom: 96px

	.triangle-down
		position: absolute
		bottom 83px
		left: 148px
		fill #fff
		opacity: 1
		animation: 2.3s fadeInDown linear

		+above(1024px)
			bottom 86px
			left: 217px

	.triangle-up
		position: absolute
		bottom 301px
		left: 256px
		fill #fff
		transform rotate(180deg)
		animation: 4s fadeInUp linear
		will-change transform

		+above(1024px)
			bottom 289px
			left: 348px

	.paths
		fill: none
		stroke: #fff
		stroke-dasharray: 3, 6
		stroke-width: 2
		stroke-linecap: round
		stroke-linejoin: round

	.mask-1
		fill: none
		stroke: white
		stroke-width: 10
		stroke-dasharray: 300
		stroke-dashoffset: 600
		animation: down 2s linear

	.mask-2
		fill: none
		stroke: white
		stroke-width: 10
		stroke-dasharray: 300
		stroke-dashoffset: 0
		animation: up 4s linear

	@keyframes fadeInUp {
		0% {
			opacity: 0;
		}
		89% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes fadeInDown {
		0% {
			opacity: 0;
		}
		86% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes fadeInFrom {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes fadeInTo {
		0% {
			opacity: 0;
		}
		96% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes up {
		0% {
			stroke-dashoffset: 300;
		}
		55% {
			stroke-dashoffset: 300;
		}
		100% {
			stroke-dashoffset: 0;
		}
	}

	@keyframes down {
		from {
			stroke-dashoffset: 300;
		}
		to {
			stroke-dashoffset: 600;
		}
	}

</style>

<div class="svg">

	<div class="arrow-from">{data.from}</div>

	<svg class="arrow-left desktop" width="151" height="137" viewBox="0 0 151 137" xmlns="http://www.w3.org/2000/svg">
		<defs>
			<path id="path-1" d="M149.826 135.716C149.826 41.4945 2 114.128 1.82324 1.80066" />
			<mask id="mask-1"><use class="mask-1" xlink:href="#path-1"/></mask>
		</defs>
		<use class="paths" xlink:href="#path-1" mask="url(#mask-1)" />
	</svg>
	<svg class="arrow-left mobile" width="102" height="160" viewBox="0 0 102 160" xmlns="http://www.w3.org/2000/svg">
		<defs>
			<path id="path-1m" d="M100.838 158.601C100.838 64.3791 1.04785 105.451 1.04785 1.70081" />
			<mask id="mask-1m"><use class="mask-1" xlink:href="#path-1m"/></mask>
		</defs>
		<use class="paths" xlink:href="#path-1m" mask="url(#mask-1m)" />
	</svg>
	<svg class="triangle-down" width="9" height="6" viewBox="0 0 9 6" xmlns="http://www.w3.org/2000/svg">
		<path d="M0.838135 0H8.83813L4.83813 6L0.838135 0Z"/>
	</svg>

	<div class="arrow-to">{data.to}</div>

	<svg class="arrow-right desktop" width="118" height="190" viewBox="0 0 118 190" xmlns="http://www.w3.org/2000/svg">
		<defs>
			<path id="path-2" d="M1.11963 191C1.11963 111.723 112.649 175.107 116.988 1.07144" />
			<mask id="mask-2"><use class="mask-2" xlink:href="#path-2"/></mask>
		</defs>
		<use class="paths" xlink:href="#path-2" mask="url(#mask-2)" />
	</svg>
	<svg class="arrow-right mobile" width="87" height="215" viewBox="0 0 87 215" xmlns="http://www.w3.org/2000/svg">
		<defs>
			<path id="path-2m" d="M1.13209 213.761C1.13209 134.484 81.2063 175.711 85.5452 1.67575" />
			<mask id="mask-2m"><use class="mask-2" xlink:href="#path-2m"/></mask>
		</defs>
		<use class="paths" xlink:href="#path-2m" mask="url(#mask-2m)" />
	</svg>
	<svg class="triangle-up" width="9" height="6" viewBox="0 0 9 6" xmlns="http://www.w3.org/2000/svg">
		<path d="M0.838135 0H8.83813L4.83813 6L0.838135 0Z"/>
	</svg>

</div>
