<script>
	export let noMenu = false;
</script>

<div class="footer">
	<div class="footer__inner">
		{#if !noMenu}
			<div class="footer__menu">
				<div class="footer__group">
					<div class="footer__title">Продукты</div>
					<a href="./" class="footer__link active">Рост отзывов</a>
					<span class="footer__link">Менеджмент локаций</span>
					<span class="footer__link">Репутационный менеджмент</span>
					<span class="footer__link">Виджеты</span>
					<span class="footer__link">Карты лояльности</span>
				</div>
				<div class="footer__group">
					<div class="footer__title">Документы</div>
					<a href="./" class="footer__link active">Персональные данные</a>
					<a href="./" class="footer__link active">Оферта</a>
				</div>
			</div>
		{/if}
		<div class="footer__copyright">Localby, 2020. Все права защищены</div>
	</div>
</div>

<style lang="stylus">
	@import '../helpers'

	.footer
		background $purple
		display flex
		justify-content: center
		margin-top auto

		+above(1024px)
			padding 0

		&__inner
			flex 1 0 $innerWidthMobile

			+above(1024px)
				flex 0 0 $innerWidth
				max-width $innerWidth
				padding 0 64px

		&__menu
			padding 24px 32px

			+above(1024px)
				padding 56px 0 28px

		&__group
			+above(1024px)
				display: flex
				align-items center

			& + &
				margin-top 16px

				+above(1024px)
					margin-top 20px

		&__title
			font-family: Acrom
			font-style: normal
			font-weight: bold
			font-size: 20px
			line-height: 28px
			letter-spacing: -0.06em
			color: #fff
			margin-bottom 12px

			+above(1024px)
				font-family: Inter
				font-size: 16px
				line-height: 32px
				flex-basis 125px
				margin-bottom 0

		&__link
			font-family: Inter
			font-style: normal
			font-weight: normal
			font-size: 13px
			line-height: 32px
			display: block
			color rgba(255, 255, 255, .6)

			+above(1024px)
				font-size: 16px

				& + &
					&:before
						content '•'
						color rgba(255, 255, 255, .4)
						padding 0 12px


			&.active
				color: #fff

		&__copyright
			height: 72px
			display: flex
			justify-content: center
			align-items center
			font-family: Inter;
			font-style: normal
			font-weight: normal
			font-size: 14px
			line-height: 24px
			color: rgba(255, 255, 255, 0.3)
			border-top 1px solid rgba(255, 255, 255, 0.1)

			+above(1024px)
				height: 104px
				justify-content flex-start

			&:first-child
				border-top: 0

</style>
