<script>
	import Menu from '../components/Menu';

	export let segment;
	export let noMenu = false;
	export let noAcc = false;
</script>

<style lang="stylus">
	@import '../helpers'

	.header
		position: relative
		display flex
		justify-content center
		height: 64px
		border-bottom: 1px solid rgba(56, 29, 75, 0.12)

		+above(1024px)
			height: auto

		&__inner
			flex 1 0 $innerWidthMobile
			min-width 0
			padding 0 32px
			display flex
			align-items: center
			justify-content: center

			+above(1024px)
				flex-grow 0
				display: block
				padding 64px 64px 47px
				flex-basis $innerWidth

		&__menu
			+above(1024px)
				margin-top 40px

		&__signup
			position: absolute;
			right: 32px
			display: flex
			align-items: center
			justify-content: center
			width: 32px
			height: 32px
			background: $yellow
			border-radius 16px

			+above(1024px)
				display: none

	.logo
		display block
		width: 100px

		+above(1024px)
			margin-bottom 17px
			width: auto

</style>

<header class="header">
	<div class="header__inner">
		<a href="./"><img class="logo" src="./assets/icons/logo.svg" alt="localby"></a>
		{#if !noAcc}
				<a class="header__signup" href="./signin">
					<img src="./assets/icons/profile.svg" alt="">
				</a>
		{/if}
		{#if !noMenu}
			<div class="header__menu">
				<Menu {segment}/>
			</div>
		{/if}
	</div>
	<slot></slot>
</header>
