<script>
	import { navigation } from '../store';

	function navigate(nav) {
		navigation.update(() => nav);
	}

</script>

<style lang="stylus">
	@import '../helpers'

	.menu
		display none

		+above(1024px)
			display flex

		&__item
			display block
			position: relative
			color #381D4B
			font-family Acrom
			font-weight bold
			font-size 24px
			line-height 24px
			letter-spacing: -0.04em
			cursor: pointer

			&:before
				content ''
				position absolute
				right 0
				bottom 0
				left 0
				height 0
				background $yellow
				transition height .15s ease-out
				z-index: -1

			& + &
				margin-left 48px

			&:hover
				&:before
					height 8px


</style>

<div class="menu">
	<div on:click={() => navigate('troubles')} class="menu__item">Для чего</div>
	<div on:click={() => navigate('howto')} class="menu__item">Как работает</div>
	<div on:click={() => navigate('demo')} class="menu__item">Демо</div>
	<div on:click={() => navigate('prices')} class="menu__item">Стоимость</div>
</div>
