<script>
	import { onMount } from "svelte";
	import { quintOut } from 'svelte/easing';

	const slides = [
		{
			id: 0,
			address: 'address-1.png',
			content: 'content-1.png',
		},
		{
			id: 1,
			address: 'address-1.png',
			content: 'content-2.png',
		},
		{
			id: 2,
			address: 'address-2.png',
			content: 'content-3.png',
		},
	];

	const SLIDER_INTERVAL = 7500;

	let slideIndex = 0;

	onMount(() => {
		const slider = setInterval(() => {
			if (slideIndex === slides.length - 1) {
				slideIndex = 0;
			} else {
				slideIndex = slideIndex + 1;
			}
		}, SLIDER_INTERVAL)
	});

	function fadeOut(node) {
		return {
			duration: 0,
			easing: quintOut,
			css: (t, u) => `opacity: ${u}`
		};
	}

	function fadeIn(node, index) {
		return {
			delay: index === 1 ? 0 : 200,
			duration: index === 1 ? 0 : 500,
			easing: quintOut,
			css: (t, u) => `opacity: ${t}`
		};
	}

	function scrollOut(node) {
		return {
			duration: 300,
			easing: quintOut,
			css: (t, u) => `transform: translateX(${-u * 130}%)`
		};
	}

	function scrollIn(node) {
		return {
			delay: 300,
			duration: 300,
			easing: quintOut,
			css: (t, u) => `transform: translateX(${u * 130}%)`
		};
	}

</script>

<div class="preview">
	<div class="preview__inner">
		<div class="slide">
				<div class="slide__address">
					{#each slides as slide (slide.id)}
						{#if slide.id === slideIndex}
							<img
								in:fadeIn={slide.id}
								out:fadeOut
								class="active"
								src="./assets/images/{slide.address}"
								alt=""
							>
						{/if}
					{/each}
				</div>
				<div class="slide__content">
					{#each slides as slide (slide.id)}
						{#if slide.id === slideIndex}
							<img
								in:fadeIn
								out:fadeOut
								class="active"
								src="./assets/images/{slide.content}"
								alt=""
							>
						{/if}
					{/each}
				</div>
		</div>
	</div>
</div>

<style lang="stylus">
	@import '../helpers'

	.preview
		display: flex
		justify-content: center
		margin-top 42px
		z-index 2

		+above(1024px)
			width: 360px
			height: 100%
			position: absolute
			top: 0
			left: 57.5%
			margin-top 0
			padding 66px 0 64px

		&__inner
			position: relative
			width: 256px
			height: 507px

			&:after
				content ''
				position: absolute
				top: 0
				right: 0
				bottom: 0
				left: 0
				background url(./assets/images/img-iphone.svg) no-repeat
				background-size contain
				z-index: 1

			+above(1024px)
				width: 320px
				height: 634px
				position: sticky
				top: 64px

	.slide
		display: flex
		flex-direction column
		align-items: center
		padding-top 38px

		+above(1024px)
			padding-top 53px

		&__address
			background: #DEDEDE
			position: relative
			width: 214px
			height: 22px
			border-radius: 4px
			z-index: 2

			+above(1024px)
				width: 264px
				height: 29px

			img
				opacity 0
				width: 100%
				position: absolute
				top: 0
				right 0
				bottom 0
				left: 0

				&.active
					opacity 1

		&__content
			position: relative
			width: 235px
			height: 428px
			margin-top 10px
			overflow: hidden
			background: #fff

			+above(1024px)
				width: 294px
				height: 535px
				margin-top 6px

			img
				display: none
				width: 100%
				position: absolute
				top: 0
				right 0
				bottom 0
				left: 0

				&.active
					display: block

</style>
