<script>
	import Tariff from '../components/Tariff';

	let tariffChecked = false;
	$: tariffType = tariffChecked ? 'yearly' : 'monthly';

	const tariffs = {
		monthly: [
			{
				title: 'Тариф S',
				subtitle: '40-50 клиентов в месяц',
				text: '<b>50 SMS-сообщений <br>100 писем<br></b>Безлимит активаций QR',
				price: '699 Р',
				href: './',
				button: '5 пробных SMS →',
			},
			{
				title: 'Тариф M',
				subtitle: '6-8 клиентов в день',
				text: '<b>150 SMS-сообщений<br>300 писем<br></b>Безлимит активаций QR',
				price: '1 299 Р',
				href: './',
				button: '5 пробных SMS →',
			},
			{
				title: 'Тариф L',
				subtitle: '20-25 клиентов в день',
				text: '<b>400 SMS-сообщений<br>800 писем<br></b>Безлимит активаций QR',
				price: '2 499 Р',
				href: './',
				button: '5 пробных SMS →',
			},
			{
				title: 'Тариф XL',
				subtitle: 'Для больших компаний',
				text: 'Больше 25 клиентов в день<br>или десятки филиалов?',
				notice: 'C радостью обсудим цены<br>и нужные интеграции',
				price: '',
				href: './',
				button: 'Напишите нам →',
			},
		],
		yearly: [
			{
				title: 'Тариф S	',
				subtitle: '– 699 Р',
				text: '<b><span>50 SMS, 100 писем, ∞ QR</span><br>Месяц бесплатно</b><br> 2 информера с QR в подарок',
				price: '7 689 Р',
				href: './',
				button: '5 пробных SMS →',
			},
			{
				title: 'Тариф M',
				subtitle: '– 2 598 Р',
				text: '<b><span>150 SMS, 300 писем, ∞ QR</span><br>2 месяца бесплатно</b><br> 2 информера с QR в подарок',
				price: '12 990 Р',
				href: './',
				button: '5 пробных SMS →',
			},
			{
				title: 'Тариф L',
				subtitle: '– 7 497 Р',
				text: '<b><span>400 SMS, 800 писем, ∞ QR</span><br>3 месяца бесплатно</b><br> 2 информера с QR в подарок',
				price: '22 491 Р',
				href: './',
				button: '5 пробных SMS →',
			},
			{
				title: 'Тариф XL',
				subtitle: 'Для больших компаний',
				text: 'Больше 25 клиентов в день<br>или десятки филиалов?',
				notice: 'C радостью обсудим цены<br>и нужные интеграции',
				price: '',
				href: './',
				button: 'Напишите нам →',
			},
		],
	}
</script>

<style lang="stylus">
	@import '../helpers'

	.prices

		+above(1024px)
			text-align center

		&__wrap
			padding 0 32px

			+above(1024px)
				padding 0

		&__notice
			font-family: Inter
			font-style: normal
			font-weight: normal
			font-size: 13px
			line-height: 24px
			color $black
			text-align center

			+above(1024px)
				font-size: 14px
				line-height: 24px
				color $green

		&__label
			position: relative
			font-family: Inter
			font-style: normal
			font-weight: 600
			font-size: 16px
			line-height: 24px
			color: $purple
			display: flex
			justify-content: center
			align-items: center
			width: 80px
			height: 41px
			margin 0 8px

			+above(1024px)
				width auto
				height: 38px
				font-size: 16px
				justify-content: flex-start
				margin 0 16px 0 0

			&.yearly
				color: $green
				&.active:after
					background: $green

				+above(1024px)
					&:before
						content ''
						position: absolute
						top: -27px
						left: 37px
						width: 29px
						height: 29px
						background url(./assets/icons/arrow.svg) no-repeat

			&.active
				&:after
					content ''
					position: absolute
					bottom: -1px
					left: 0
					height: 1px
					width: 100%
					background: $purple

					+above(1024px)
						content none

		&__selector
			display: flex
			justify-content center
			margin 16px 0 0

			+above(1024px)
				margin-bottom 64px

			input
				display: none

		&__checkbox
			+above(1024px)
				user-select: none
				cursor: pointer
				width: 80px
				height: 40px
				background: $purple
				border-radius: 20px
				padding 8px
				margin-right 16px
				transition background-color .2s ease-out

				&:after
					content ''
					display: block
					background: #fff
					width: 24px
					height: 24px
					border-radius: 50%
					transition margin-left .2s ease-out

				&.active
					background: $green
					&:after
						margin-left 40px


		&__content
			background: rgba(56, 29, 75, 0.04)
			border-top 1px solid rgba(56, 29, 75, 0.12)
			border-bottom 1px solid rgba(56, 29, 75, 0.12)

			+above(1024px)
				background none
				border: 0

		&__scroll
			overflow-x scroll

			+above(1024px)
				overflow initial

		&__tariffs
			display: inline-flex
			align-items: flex-start
			vertical-align: top
			padding 32px

			+above(1024px)
				padding 0

			&.monthly
				animation fadeInMonthly .3s ease-in-out

			&.yearly
				animation fadeInYearly .3s ease-in-out

	.highlight
		color $green



	@keyframes fadeInMonthly {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes fadeInYearly {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
</style>

<div class="prices">
	<div class="prices__wrap">
		<div class="prices__notice">
			<p class="desktop">
				От 1 до 3 месяцев в подарок<br>плюс информеры с NFC-метками, QR-кодом<br>и бесплатной доставкой
			</p>
			<p class="mobile">
				При <span class="highlight">оплате за год</span> — от 1 до 3 месяцев в подарок плюс 2 информера с NFC-метками, QR-кодом и бесплатной доставкой
			</p>
		</div>
		<div class="prices__selector">
			<div
				class:active={!tariffChecked}
				on:click={() => tariffChecked = false}
				class="prices__label"
			>
				<span class="desktop">Каждый месяц</span>
				<span class="mobile">За месяц</span>
			</div>
			<div
				class:active={tariffChecked}
				on:click={() => tariffChecked = !tariffChecked}
				class="prices__checkbox"
			>
				<input type="checkbox" bind:checked={tariffChecked} />
			</div>
			<div
				class:active={tariffChecked}
				on:click={() => tariffChecked = true}
				class="prices__label yearly"
			>
				<span class="desktop">Сразу за год</span>
				<span class="mobile">За год</span>
			</div>
		</div>
	</div>
	<div class="prices__content">
		<div class="prices__scroll">
			<div class="prices__tariffs {tariffType}">
				{#each tariffs[tariffType] as data}
					<Tariff _class="{tariffType}" {data}/>
				{/each}
			</div>
		</div>
	</div>
</div>





