<script>
	import {onMount} from "svelte";
	import Arrows from './Arrows';

	const arrows = [
		{
			from: 'sms',
			to: 'yandex',
		},
		{
			from: 'email',
			to: 'google',
		},
		{
			from: 'nfc',
			to: '2gis',
		},
	];

	let index = 0;
	let data = arrows[index];
	let arrowsVisible = true;
	let visibilityTimeout;
	let arrowsSwitchTimeout;

	onMount(() => {
		initTabChange();
		initArrowsSwitch();
	});

	function initArrowsSwitch() {
		arrowsSwitchTimeout = setInterval(() => {
			index++;
			if (index === arrows.length) {
				index = 0;
			}
			data = arrows[index];
			arrowsVisible = true;
		}, 5300);
	}

	function initTabChange() {
		document.addEventListener('visibilitychange', function() {
			if (document.visibilityState === 'visible') {
				data = arrows[0];
				arrowsVisible = true;
				initArrowsSwitch();
			} else {
				arrowsVisible = false;
				clearTimeout(visibilityTimeout);
				clearInterval(arrowsSwitchTimeout);
			}
		});
	}

	function hideTimeout(node) {
		visibilityTimeout = setTimeout(() => {
			arrowsVisible = false;
		}, 5000);

		return {
			destroy() {
				clearTimeout(visibilityTimeout);
			}
		};
	}



</script>

<style lang="stylus">
	@import '../helpers'

	.signup
		background: $blue

		+above(1024px)
			position: absolute
			top: -144px
			right: 0
			left: 57.5%
			height: 521px
			z-index 2

		&__inner
			display: flex
			flex-direction column
			justify-content: space-between
			align-items: center
			padding-top 60px

			+above(1024px)
				height: 100%
				width: 445px

		&__button
			font-family: Inter
			font-style: normal
			font-weight: 600
			font-size: 14px
			align-items: center
			justify-content: space-between
			height: 48px
			background: $yellow
			border-radius 24px
			padding 0 24px
			display none

			+above(1024px)
				display inline-flex

			img
				margin-right 12px

		&__person
			background url(./assets/images/img-man.png) 50% 100% no-repeat
			background-size contain
			width: 100%
			height: 344px
			display: flex
			justify-content center

			+above(1024px)
				display: block
				width: 445px
				height: 368px

		&__arrows
			width: 320px
			height: 100%

			+above(1024px)
				width: 100%


</style>

<div class="signup">
	<div class="signup__inner">
		<a class="signup__button" href="./signin">
			<img src="./assets/icons/profile.svg" alt="">
			Вход для клиентов
		</a>
		<div class="signup__person">
			{#if arrowsVisible}
				<div class="signup__arrows" use:hideTimeout>
					<Arrows {data} />
				</div>
			{/if}
		</div>
	</div>
</div>
