<script>
	export let data;
</script>

<style lang="stylus">
	@import '../helpers'

	.card
		flex 0 0 208px
		width: 208px
		height: 168px
		background: #fff
		box-shadow: 0 0 8px rgba(56, 29, 75, 0.1)
		border-radius: 8px
		color $purple
		text-align: center

		+above(1024px)
			flex-basis: 256px
			width: 256px
			height: 200px

		& + &
			margin-left 16px

			+above(1024px)
				margin-left 32px
	.icon
		display: flex
		justify-content: center
		align-items: center
		height: 32px
		margin-top 24px

		+above(1024px)
			margin-top 32px

		:global(img)
			flex 0 0 24px
			width: 24px

			+above(1024px)
				flex-basis 29px
				width: 29px

		:global(img + img)
			margin-left 4px

	.value
		font-family: Acrom
		font-style: normal
		font-weight: bold
		font-size: 32px
		line-height: 32px
		margin-top 24px
		letter-spacing: -0.04em

		+above(1024px)
			font-size: 40px
			line-height: 32px
			margin-top 32px

	.label
		font-family: Inter
		font-style: normal
		font-weight: 600
		font-size: 12px
		line-height: 15px
		margin-top 4px

		+above(1024px)
			font-size: 14px
			line-height: 17px
			margin-top 8px

	.text
		font-family: Inter
		font-style: normal
		font-weight: normal
		font-size: 12px
		line-height: 20px
		text-align: center
		color: rgba($purple 0.7)
		margin-top 12px
		padding 0 24px

		+above(1024px)
			font-size: 14px
			line-height: 24px
			margin-top 16px

</style>

<div class="card">
	{#if data.icon}
		<div class="icon">{@html data.icon }</div>
	{:else if data.value}
		<div class="value">{ data.value }</div>
	{/if}
	<div class="label">{ data.label }</div>
	<div class="text">{@html data.text}</div>
</div>
