<script>
	import StatCard from './Stat-card';
	import {onMount} from "svelte";

	const SCROLL_CARD_WIDTH = 288;
	const SCROLL_INTERVAL = 6000;
	const statData = [
		{
			value: '88%',
			label: 'покупателей',
			text: 'доверяют онлайн-отзывам<br> как личным<br> рекомендациям',
		},
		{
			icon: `<img src="./assets/icons/icon-star.svg" alt="">
				<img src="./assets/icons/icon-star.svg" alt="">
				<img src="./assets/icons/icon-star.svg" alt="">
				<img src="./assets/icons/icon-star.svg" alt="">
			`,
			label: '4 звезды и выше',
			text: 'такой рейтинг<br> важен<br> для 49% потребителей',
		},
		{
			value: '900%',
			label: 'рост поиска',
			text: 'по запросам<br> «бизнес рядом со мной»<br> за последние 2 года',
		},
		{
			value: '10',
			label: 'отзывов',
			text: 'читает в среднем<br> клиент<br> перед покупкой',
		},
		{
			value: '59%',
			label: 'клиентов',
			text: 'теряет бизнес,<br> имеющий 3 и более<br> негативных отзыва',
		},
		{
			value: '14',
			label: 'минут',
			text: 'тратит покупатель<br> на чтение отзывов<br> о компании',
		},
		{
			value: '50%',
			label: 'клиентов',
			text: 'ждут ответа<br> компании на отзыв,<br> который они написали',
		},
		{
			value: '47',
			label: 'отзывов',
			text: 'нужно в среднем,<br> чтобы попасть в топ-10<br> поиска на картах',
		},
		{
			value: '40%',
			label: 'клиентов',
			text: 'доверяют отзывам,<br> написанным<br> за 2 последних недели',
		},
		{
			value: '1/3',
			label: 'решений о покупке',
			text: 'принимается<br> на основе онлайн-отзывов<br> других посетителей',
		},
		{
			value: '13%',
			label: 'влияния на поиск',
			text: 'оказывают<br> отзывы и рейтинг бизнеса<br> на картах',
		},
	];

	let statPlaceholderWidth;
	let isScrollHovered = false;

	onMount(() => {
		const vw = document.body.scrollWidth;
		if (vw >= 1280) {
			const curtain = vw * 0.3125 - (vw - 1152) / 2;
			const visibleContainer = (1168 - curtain);
			statPlaceholderWidth = curtain + (visibleContainer % SCROLL_CARD_WIDTH) + 16;
		}
	});

	function scrollMouseIn(node) {
		isScrollHovered = true;
	}

	function scrollMouseOut(node) {
		isScrollHovered = false;
	}

	function scrollTimer(node) {
		const vw = document.body.scrollWidth;
		let timeout;

		if (vw < 1280) {
			return;
		}

		timeout = setInterval(() => {
			if (isScrollHovered) {
				return;
			}

			const maxScroll = node.scrollWidth - node.clientWidth;
			const steps = (node.scrollLeft - node.scrollLeft % SCROLL_CARD_WIDTH) / SCROLL_CARD_WIDTH;
			let statScroll = steps * SCROLL_CARD_WIDTH + SCROLL_CARD_WIDTH;
			// if (maxScroll - node.scrollLeft < SCROLL_CARD_WIDTH * 1.25) {
			// 	statScroll = maxScroll;
			// }
			if (maxScroll === node.scrollLeft) {
				statScroll = 0;
			}
			node.scroll({
				top: 0,
				left: statScroll,
				behavior: 'smooth',
			});
		}, SCROLL_INTERVAL);

		return {
			destroy() {
				clearInterval(timeout);
			}
		};
	}

</script>

<style lang="stylus">
	@import '../helpers'

	.statistics
		position: relative
		display flex
		justify-content: center
		height: 232px
		background: rgba(56, 29, 75, 0.03)

		+above(1024px)
			height: 264px

		&__inner
			width: 100%
			max-width $innerWidth
			padding 24px 0

			+above(1024px)
				padding 24px 56px

		&__overflow
			overflow hidden

			+above(1024px)
				height: 216px

		&__scroll
			padding 8px 0 32px
			overflow-x: scroll

			+above(1024px)
				padding 8px
				height: 233px

		&__content
			display: inline-flex
			vertical-align: top
			padding 0 32px

			+above(1024px)
				padding 0


</style>

<div class="statistics">
	<div class="statistics__inner">
		<div class="statistics__overflow">
			<div class="statistics__scroll" use:scrollTimer on:mouseover={scrollMouseIn} on:mouseleave={scrollMouseOut}>
				<div class="statistics__content" style="padding-right: {statPlaceholderWidth}px">
					{#each statData as data}
						<StatCard {data}/>
					{/each}
				</div>
			</div>
		</div>
	</div>
</div>
