<script>
	import Button from './Button';

	export let data;
	export let _class;
</script>

<style lang="stylus">
	@import '../helpers'

	.tariff
		flex 0 0 216px
		width 216px
		height: 280px
		border-radius: 8px
		background: $purple
		color: #fff
		padding 16px 22px 24px
		text-align: left

		+above(1024px)
			padding 24px 30px 32px 32px
			flex-basis 264px
			width 264px
			height: 338px
			background: #fff
			border: 1px solid rgba(56, 29, 75, 0.3)

			&:last-child
				background: $purple

				& ^[0]__title
				& ^[0]__subtitle
				& ^[0]__notice
					color: #fff
					font-weight 400

				& ^[0]__text
					color: rgba(255, 255, 255, 0.5)

		& + &
			margin-left 16px

			+above(1024px)
				margin-left 32px

		&__title
			font-family: Acrom
			font-style: normal
			font-weight: bold
			font-size: 18px
			line-height: 22px

			+above(1024px)
				color: $purple
				font-size: 24px
				line-height: 30px


		&__subtitle
			font-family: Inter
			font-style: normal
			font-weight: normal
			font-size: 12px
			line-height: 20px

			+above(1024px)
				color: rgba(56, 29, 75, 0.5)
				font-size: 14px
				line-height: 24px
				margin-top 2px

			.yearly &
				color $link
				font-weight 600

		&__text
			font-family: Inter
			font-style: normal
			font-weight: normal
			font-size: 12px
			line-height: 20px
			margin-top 30px

			.yearly &
				color $green

				:global(span)
					color: #fff

					+above(1024px)
						color: $purple

			+above(1024px)
				color: $purple
				font-size: 14px
				line-height: 24px
				margin-top 32px

		&__notice
			font-family: Inter
			font-style: normal
			font-weight: normal
			font-size: 12px
			line-height: 20px
			margin 24px 0 16px

			+above(1024px)
				font-size: 14px
				line-height: 24px
				margin 12px 0 36px

		&__price
			font-family: Acrom
			font-style: normal
			font-weight: bold
			font-size: 18px
			line-height: 32px
			color: #FA156B
			margin 12px 0 16px

			+above(1024px)
				font-size: 24px
				margin 16px 0 24px

</style>

<div class="tariff {_class}">
	<div class="tariff__title">{data.title}</div>
	<div class="tariff__subtitle">{data.subtitle}</div>
	<div class="tariff__text">{@html data.text}</div>
	{#if data.notice}
		<div class="tariff__notice">{@html data.notice}</div>
	{:else}
		<div class="tariff__price">{data.price}</div>
	{/if}
	<Button type="green" _class="small fill" href={data.action}>{data.button}</Button>
</div>
